<!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="" target="_blank" role="button">Discord
        <i class="fas fa-link ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="ts3server://ip" target="_blank" role="button">TeamSpeak
        <i class="fas fa-microphone ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021 Copyright:
        <!-- Place your url :) -->
      <a href="https://Szczurowsky.pl" target="_blank"> {{ SERVER_NAME }} </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->