{% extends 'Main/templates/root.html' %}
{% block content %}
<!-- Full Page Intro -->
  <div class="view full-page-intro" style="background-image: url('https://i.imgur.com/OUgq5HJ.png'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 white-text text-center text-md-left">

            <h1 class="display-4 font-weight-bold">Lorem ipsum</h1>

            <hr class="hr-light">

            <p>
              <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Duis ut nisi tempus velit sollicitudin fermentum sed id quam. Nam eu sem vitae leo pretium iaculis et eget tortor. Sed molestie lorem id dolor euismod porta.</strong>
            </p>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body">
            {% for error in errors %}
                <p class="badge badge-danger">{{ error|striptags }}</p>
            {% endfor %}
                <!-- Form -->
                <form method="post"> {% csrf_token %}
                  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                  <label for="username" class="sr-only">Username</label>
                  <input type="text" id="id_username" class="form-control" name="username" placeholder="Your username" required autofocus><br/>
                  <label for="email" class="sr-only">Email address</label>
                  <input type="email" id="id_email" class="form-control" name="email" placeholder="Your email address" required autofocus><br/>
                  <label for="nickname" class="sr-only">Nickname</label>
                  <input type="text" id="id_nickname" class="form-control" name="nickname" placeholder="Your nick in game" required autofocus><br/>
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" id="id_password" class="form-control" name="password" placeholder="Your password" required><br/>
                    <label for="password2" class="sr-only">Repeat password</label>
                  <input type="password" id="id_password2" class="form-control" name="password2" placeholder="Repeat password" required><br/>
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" name="tos" required> I accept ToS
                    </label>
                  </div>
                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up" />
                </form>
                <!-- Form -->

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->
{% endblock %}